@media (max-width: 1200px)
    .promo_img
        padding-left: 0px
        width: 463px
        height: 361px
    .catalog_item
        width: 300px
@media (max-width: 991px)
    .promo_img
        width: 358px
        height: 269px
        margin-top: 50px
    .catalog
        min-height: 600px
        .catalog_item
            height: 300px
            width: 220px
            font-weight: 700
            font-size: 20px
            padding-top: 127px
    .about
        min-height: 1100px
        .about_img
            width: 300px
            height: 300px
        .about_descr
            width: 350px
            font-weight: 700
            font-size: 30px
            line-height: 36px